<center>
<h3>Welcome</h3>

<div class="row">
  <div class="col-md-6">
    <a href="/pages/amazoncom" class="">
      <%= image_tag "http://www.cbc.ca/radio-content/archive/undertheinfluence/Amazon%20logo.jpg", :class => "welcome-image first-image" %>
    </a>
  </div>
  <div class="col-md-6">
    <a href="pages/amazonin" class="">
      <%= image_tag "http://images.fonearena.com/blog/wp-content/uploads/2015/04/amazon-logo-.jpg", :class => "welcome-image second-image" %>
    </a>
  </div>
</div>

</center>
